# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual environments
# =====================
venv/
.env/
.env.*
!.env.example

# =====================
# Alembic
# =====================
alembic/versions/__pycache__/

# =====================
# Databases (local)
# =====================
*.sqlite3
*.db

# =====================
# Logs
# =====================
*.log

# =====================
# macOS
# =====================
.DS_Store

# =====================
# VS Code
# =====================
.vscode/
